body,html{
    width: 100%;
     height: 100%;
     margin: 0px;
     padding: 0px;
     overflow-x: hidden;
}
.front 
{
    display : flex;
    flex-direction : row;
}
.front img
{
    width: 700px;
    height: 610px;
}
a
{
   text-decoration: none;
}
@media screen and (max-width : 800px){
      .front 
       {
            display: block;
       }
       .front img
       {
            width: 100%;
        }
}